<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positive.culture.seoulQuest.mapper.CartItemMapper">
    <select id="getCartItemsByCartId" resultType="com.positive.culture.seoulQuest.domain.CartItem">
        SELECT * FROM tbl_cart_item WHERE cart_cno = #{cartId}
    </select>

<!--    <select id="getCartByMemberId" resultType="com.positive.culture.seoulQuest.domain.Cart">-->
<!--        select * from tbl_cart cart where  -->
<!--    </select>-->

</mapper>
