<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positive.culture.seoulQuest.mapper.UserMapper">

    <select id="getUserByMemberId" resultType="com.positive.culture.seoulQuest.dto.UserDTO" parameterType="string">
        select
        city,
        state ,
        email ,
        social,
        street,
        zip_code zipcode,
        birthday,
        member_Id memberId,
        name,
        nick_name nickname,
        password,
        phone_Number
        from tbl_member
        where member_Id = #{memberId}
    </select>


</mapper>
