<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positive.culture.seoulQuest.mapper.CartMapper">

    <!-- Select query to get cart by user ID -->
    <select id="getCartByUserId" resultType="com.positive.culture.seoulQuest.domain.Cart">
        SELECT cno , member_owner owner , status FROM tbl_cart WHERE member_owner = #{userId}
    </select>

</mapper>
